<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>LunchRoll API</title>
    
</head>
<body>
    

<link type="text/css" href="{{ url_for('static', filename='apipage.css') }}" rel="stylesheet">
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>LunchRoll API Documentation</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Provides a general description of the LunchRoll API.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">


<h2 id="client">client</h2>
    <p>Provides web services for requesting Google queries.</p>
<table class="help-page-table">
    <thead>
        <tr><th>API</th><th>Description</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="api-name"><a href="help/client/search">POST client/search</a></td>
            <td class="api-documentation">
                <p>Retrieves restaurants in the area</p>
            </td>
        </tr>
        <tr>
            <td class="api-name"><a href="help/client/suggest">POST client/suggest</a></td>
            <td class="api-documentation">
                <p>Retrieves restaurants based on a user or group's preferences</p>
            </td>
        </tr>
    </tbody>
</table>
<h2 id="user">user</h2>
	<p>Provides the endpoints for user related queries</p>
<table class="help-page-table">
	<thead>
		<tr><th>API</th><th>Description</th></tr>
	</thead>
	<tbody>
		<tr>
			<td class="api-name"><a href="help/user/updateUser">POST user/updateUser</a></td>
			<td class="api-documentation">
				<p>Creates a new user or modifies an existing one</p>
			</td>
		</tr>
		<tr>
			<td class="api-name"><a href="help/user/getUser">POST user/getUser</a></td>
			<td class="api-documentation">
				<p>Gets user's data</p>
			</td>
		</tr>
        <tr>
			<td class="api-name"><a href="help/user/getGroups">POST user/getGroups</a></td>
			<td class="api-documentation">
				<p>Gets user's groups</p>
			</td>
		</tr>
			<tr>
			<td class="api-name"><a href="help/user/getFriends">POST user/getFriends</a></td>
			<td class="api-documentation">
				<p>Retrieves all of user's friends</p>
			</td>
		</tr>
		<tr>
			<td class="api-name"><a href="help/user/addFriend">POST user/addFriend</a></td>
			<td class="api-documentation">
				<p>Adds a friend</p>
			</td>
		</tr>
        <tr>
			<td class="api-name"><a href="help/user/removeFriend">POST user/removeFriend</a></td>
			<td class="api-documentation">
				<p>Removes a friend</p>
			</td>
		</tr>
	</tbody>
</table>
<h2 id="group">group</h2>
	<p>Provides the endpoints for user related queries</p>
<table class="help-page-table">
	<thead>
		<tr><th>API</th><th>Description</th></tr>
	</thead>
	<tbody>
		<tr>
			<td class="api-name"><a href="help/group/updateGroup">POST group/updateGroup</a></td>
			<td class="api-documentation">
				<p>Creates a new group or modifies an existing one</p>
			</td>
		</tr>
		<tr>
			<td class="api-name"><a href="help/group/getGroup">POST group/getGroup</a></td>
			<td class="api-documentation">
				<p>Gets group's data</p>
			</td>
		</tr>
        <tr>
			<td class="api-name"><a href="help/group/deleteGroup">POST group/deleteGroup</a></td>
			<td class="api-documentation">
				<p>Deletes a group</p>
			</td>
		</tr>
	</tbody>
</table>
<!--
<h2 id="Client">Account</h2>
    <p>Provides web services for managing clients.</p>
	<p>THIS SECTION IS STILL UNDER CONSTRUCTION</p>
<table class="help-page-table">
    <thead>
        <tr><th>API</th><th>Description</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="api-name"><a href="52.8.67.183:80/api/account/updateProfile">DELETE api/ClientManagement/Clients/{clientId}</a></td>
            <td class="api-documentation">
                <p>Allows an organization admin to delete a client.</p>
            </td>
        </tr>
        <tr>
            <td class="api-name"><a href="https://localhost:44301/Help/Api/GET-api-ClientManagement-Clients-clientId">GET api/ClientManagement/Clients/{clientId}</a></td>
            <td class="api-documentation">
                <p>Allows a client admin or an organization admin of the specified client to get the client.</p>
            </td>
        </tr>
        <tr>
            <td class="api-name"><a href="https://localhost:44301/Help/Api/GET-api-ClientManagement-Clients">GET api/ClientManagement/Clients</a></td>
            <td class="api-documentation">
                <p>Allows a SAFEAdmin to get all clients, and allows an organization admin to get all clients associated associated
            with their organization.</p>
            </td>
        </tr>
        <tr>
            <td class="api-name"><a href="https://localhost:44301/Help/Api/GET-api-ClientManagement-Clients-clientId-Users">GET api/ClientManagement/Clients/{clientId}/Users</a></td>
            <td class="api-documentation">
                <p>Allows a client admin or an organization admin of the specified client to get all users associated to the client.</p>
            </td>
        </tr>
        <tr>
            <td class="api-name"><a href="https://localhost:44301/Help/Api/POST-api-ClientManagement-Clients">POST api/ClientManagement/Clients</a></td>
            <td class="api-documentation">
                <p>Allows an organization admin to create a new client, and allows a client admin to update their client.</p>
            </td>
        </tr>
    </tbody>
</table>
-->
</body></html>
